<%= form_with(model: holding_method) do |form| %>
  <% if holding_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(holding_method.errors.count, "error") %> prohibited this holding_method from being saved:</h2>

      <ul>
        <% holding_method.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
