<div class="main_image">
  <p>Image</p>
</div>
<main class="globalMain">
  <nav>
    <dl class="mainMenu">
      <dt></dt>
      <dd>症例募集</dd>
      <dd>アジア動物</dd>
      <dd>スキンケア検定</dd>
    </dl>
    <dl class="mainMenu">
      <dt>各種サービス</dt>
      <dd>ペットPASS</dd>
      <dd>QIXホームケア</dd>
      <dd>みるペット</dd>
      <dd>VET SHIP いつでもPay</dd>
      <dd>みるPay</dd>
    </dl>
  </nav>

  <nav class="ingredientBox">
    <h2>成分辞典</h2>

    <ul class="ingredientTag">
      <li>あ行</li>
      <li>か行</li>
      <li>さ行</li>
      <li>た行</li>
      <li>な行</li>
      <li>は行</li>
      <li>ま行</li>
      <li>や行</li>
      <li>ら行</li>
      <li>わ行</li>
      <li>A-Z</li>
    </ul>

    <p class="tab_list">あ</p>
    <ul class="ingredient">
      <li>成分名</li>
      <li>成分名</li>
      <li>成分名</li>
      <li>成分名</li>
      <li>成分名</li>
      <li>成分名</li>
      <li>成分名</li>
      <li>成分名</li>
      <li>成分名</li>
    </ul>
  </nav>
</main>











<nav>
  <ul>
    <li>
      <%= link_to "新規会員登録", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "ログイン", new_user_session_path %>
    </li>
    <li>
      <%= link_to "マイページ(ログインしてない場合はアクセスできません)", mypage_root_path %>
    </li>
  </ul>
</nav>

<hr>
<div>
  <%= link_to "製品一覧へ", products_path %>
</div>
<div>
  <%= link_to "セミナー一覧へ", seminars_path %>
</div>
