<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Catchphrase:</strong>
  <%= @product.catchphrase %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @product.detail %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @product.classification %>
</p>

<p>
  <strong>Target animal:</strong>
  <%= @product.target_animal %>
</p>

<p>
  <strong>Raw materials:</strong>
  <%= @product.raw_materials %>
</p>

<p>
  <strong>Principal component:</strong>
  <%= @product.principal_component %>
</p>

<p>
  <strong>Nutritional information:</strong>
  <%= @product.nutritional_information %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @product.amount %>
</p>

<p>
  <strong>Daily dosage:</strong>
  <%= @product.daily_dosage %>
</p>

<p>
  <strong>Precautions for use:</strong>
  <%= @product.precautions_for_use %>
</p>

<p>
  <strong>Precautions for storage and handling:</strong>
  <%= @product.precautions_for_storage_and_handling %>
</p>

<p>
  <strong>Country of origin:</strong>
  <%= @product.country_of_origin %>
</p>

<p>
  <strong>Expiration date information:</strong>
  <%= @product.expiration_date_information %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Jan code:</strong>
  <%= @product.jan_code %>
</p>

<p>
  <strong>Product category:</strong>
  <%= @product.product_category.name %>
</p>

<% @product_pictures.each do |picture| %>
<p>
  <strong>Product Picture:</strong>
  <%= product_image(@product, picture) %>
</p>
<% end %>




<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
