<%= form_with(model: seminar_target) do |form| %>
  <% if seminar_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seminar_target.errors.count, "error") %> prohibited this seminar_target from being saved:</h2>

      <ul>
        <% seminar_target.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
